* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
/*banner*/

.secao-banner {
    width: 100%;
    padding: 120px 80px;
    text-align: center;
    background-image: url('img/banner-topo.jpg');
    background-position: center;
    background-size: cover;
}

.logo {
    max-width: 250px;
    color: #3c184e;
}

.p-logo {
    font-size: 35px;
    margin: 0px 0px 5px 0px;
}
.p2-logo {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.logo img {
    width: 30px;
    margin-right: 5px;
}

.banner {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.banner h1 {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0px 0px 40px 0px;
}

.banner p {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    background-color: #3c184e;
    border-radius: 10px;
    font-size: 20px;
}

.banner a {
    color: #fff;
}

.banner img {
    width: 20px;
}

/*Serviços*/

.secao-servicos {
    width: 100%;
    padding: 120px 80px;
}

.secao-servicos h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.lista {
    max-width: 800px;
    margin: 0  auto 50px auto;
    color: #3c184e;
}

.lista li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.lista .text-destaque {
    font-weight: 700;
    font-style: italic;
}

.galeria {
    max-width: 800px;
    margin:  0 auto 0 auto;
}

.galeria img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

/*Faixas Redes Socias*/

.secao-faixas {
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.secao-faixas p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
}

.secao-faixas .text-destaque {
    font-weight: 700;
    font-style: italic;
}

.secao-faixas a {
    margin: 0 20px;
}

.secao-faixas img {
    width: 50px;
    height: 50px;
}

/*Marcas*/

.secao-marcas {
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}

.secao-marcas h3 {
    font-size: 36px;
    color: #3c184e;
    margin-bottom: 45px;
}

.img-marcas {
    max-width: 800px;
    margin: 0 auto;
}

.img-marcas img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

/*Localização*/

.secao-onde-estamos {
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}

.secao-onde-estamos h3 {
    font-size: 36px;
    color: #3c184e;
    margin-bottom: 45px;
}

.secao-onde-estamos p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 45px;
}

iframe {
    width: 800px;
    height: 450px;
}

.rodape {
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
    color: #fff;
    text-align: center;
    font-size: 12px;

}